section{
    background-image: url("images/lg-gorilla03.jpg");
    height: 600px;
    opacity: 0.8;
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: cover;
}
.titlegori{
    padding-top:35px;
    font-weight: bold;
    font-size: 2em;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.commentgori{
    
    margin-top: 10px;
    margin-bottom: 20px;
}
.container{
    display: inline-block;
    text-align: center;
   
    height: 160px;
    width: 500px;
    border:solid black;
}
.photo{
object-fit: cover;
width: 50%;
height: 800px;
}
.textphoto{
    background-color: grey;
    width: 50%;
height: 800px;
display: inline;
text-align: center;
display: flex;
align-items: center;
justify-content: center;
}
.titlegor{
    margin-top: 20px;
    font-weight: bold;
    font-size: 3em;
}
section2{
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.linkgo{
    margin-top: 30px;
    color: black;
    text-decoration: underline;
}
.center{
    display: flex;
    align-items: center;
    justify-content: center;
}
.centercolo{
    column-count: 3;
    column-gap: 40px;
    padding: 15px;
}
