@media (min-width:1280px){
  .title{
    background: gray;
  }
  li{
    display: inline-block;
    margin: 0px 130px;   
  }
}
@media (min-width:481px) and (max-width:767px){
    .title{
      background: green;
    }
    li{
      display: inline-block;
      margin: 0px 30px;   
    }
  }
  @media (min-width:768px) and (max-width:1024px){
    .title{
      background: yellow;
    }
    li{
      display: inline-block;
      margin: 0px 70px;   
    }
  }
  @media (min-width:1025px) and (max-width:1280px){
    .title{
      background: red;
    }
    li{
      display: inline-block;
      margin: 0px 100px;   
    }
  }
  
