body{
  overflow-x: hidden;
}
h2{
  font-size: 1.4em;
}
nav{
  height: 60px;
  background-color: grey;
  width: auto;
}
ul{
  padding: 20px;

}
.logo{

  background-color: white;
}

a{
  color: white;
  text-decoration: none;
}
.hero{
  background-image: url(images/th-gorilla15.jpg);
  height: 400px;
  width: 100%;
  color: white;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}
.titleimage{
  border: solid black 2px;
  padding: 30px;
  top: 25%;
  left: 50%;
 
  font-size: 2em;
}
.title{
  padding: 50px 0px;
  text-align: center;
  color: black;
  text-align: justify;
  padding-left: 10px;
  padding-right: 10px;
}

.columntitle{
  font-size: 1.4em;

}
.expli{
  column-count: 3;
  column-rule-style: solid;
  width: 100%;
  text-align: justify;
  column-width: 320px;


}
.backgroundattachment{
  background-image: url(images/th-gorilla16.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  width: 100%;
}

.pg{
  display: flex;
  align-items: center;
  height: 400px;
  width: 400px;
  justify-content: space-around;
  padding-left: 20px;
  padding-right: 20px;


}
.textlist{
  text-align: center;
  vertical-align: middle;
  width: 100%;
  margin-top: 20px;
}

.block{
  height: 200px;
  width: 200px;
  background-color: black;
  margin-left: 100px;
  margin-right: 100px;
  margin-top: 30px;
  margin-bottom: 30px;
  padding: 5px;
  }
.listblock{
  justify-content: center;
  align-items: center;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}
.logo_img{
  margin: 5px;
  height: 50px;
  width: 50px;
  background-color: white;
  float: left;
}
.text{
color: white;
}
.button-cont{
  display: flex;
  align-content: flex-end;
  flex-direction: row-reverse;
  margin-right: 10px;
 
}
.button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: red; 
  border: none;
  color: white;
text-align: justify;
text-align: center;
  text-decoration: none;
  font-size: 16px;
  height: 50px;
  width: 80px;
}
.gorilla10{
  width: 800px;
  height: 400px;
  float: left;
}


.textfooter{
  padding: 15px;


}
.gorilla06{
  float: left;
  width: 250px;
  height: 150px;

}
.divpicture{
  text-align: center;
}
picture{
  text-align: center;

}
footer {
  display: grid;
  grid-auto-rows: minmax(50px, auto);
  grid-template-columns: repeat(10,1fr);
  background-color: black;
  color: white;
  height: 110px;
}
.un{
  grid-column: 2;
  grid-row: 2;
}
.deux{
  grid-column: 4/6;
  grid-row: 2;
}
.trois{
  grid-column: 7;
  grid-row: 2;
}
.banane{
  grid-column: 9;
  grid-row: 1;
}
